@page
@model CheckoutModel
@{
    ViewData["Title"] = "فروشگاه اینترنتی بلوری";
    ViewData["description"] = "خرید از مجموعه بلوری";
}
<section class="inner-section single-banner">
    <div class="container">
        <h1>پرداخت</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
        </ol>
    </div>
</section>
<section class="inner-section checkout-part">
    <div class="container">
        @if (Model.Message != null)
        {
            switch (Model.Code)
            {
                case "Error":
                    <div class="alert alert-danger"> @Model.Message </div>
                    break;
                case "Warning":
                    <div class="alert alert-warning"> @Model.Message </div>
                    break;
                case "Info":
                    <div class="alert alert-info"> @Model.Message </div>
                    break;
                default:
                    <div class="alert alert-success"> @Model.Message </div>
                    break;
            }

            Model.Message = null;
            Model.Code = null;
        }
        <form method="post" asp-page-handler="OnPost" id="ch-form">
            <div class="row">
                <div class="col-lg-8 col-sm-12">

                    <div class="account-card">
                        <div class="account-title">
                            <h4>نشانی تحویل</h4>
                            <p style="font-size: 14px">لطفا آدرس خود را انتخاب کنید</p>
                        </div>
                        @if (Model.SendInformationList.Any())
                        {
                            <div class="form-group">
                                <div class="row">
                                    @foreach (var sendInformation in Model.SendInformationList)
                                    {
                                        <div class="col-md-6 col-lg-4 alert show" onclick="fillAddress(@sendInformation.Id)">
                                            <div id="profile-card-@sendInformation.Id" class="profile-card address"
                                                style="height:100%;">
                                                <h6>@sendInformation.RecipientName</h6>
                                                <p>@sendInformation.Address</p>

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                        <a class="account-link" onclick="myFunction()">اگر آدرس شما در لیست بالا وجود ندارد، لطفا برای
                            وارد کردن آدرس جدید اینجا کلیک کنید</a>
                        <div id="myDIV">
                            <input type="number" hidden asp-for="SendInformation.Id">
                            <input type="number" hidden asp-for="SendInformation.UserId">
                            <input required type="text" class="form-control" asp-for="SendInformation.RecipientName"
                                placeholder="نام تحویل گیرنده ...">
                            <span asp-validation-for="SendInformation.RecipientName" class="mt-5"
                                style="color: red; margin-top: 10px"></span>
                            <br />
                            <input required type="tel" maxlength="11" pattern="[0-9]{11}" class="form-control"
                                asp-for="SendInformation.Mobile" placeholder="... شماره همراه" dir="ltr">
                            <span asp-validation-for="SendInformation.Mobile" class="mt-5"
                                style="color: red; margin-top: 10px"></span>
                            <input required type="tel" pattern="[0-9]{10}" class="form-control"
                                asp-for="SendInformation.PostalCode" placeholder="... کد پستی" dir="ltr"
                                style="margin-top: 10px">
                            <span asp-validation-for="SendInformation.PostalCode" class="mt-5"
                                style="color: red; margin-top: 10px"></span>
                            <select asp-for="SendInformation.StateId" class="custom-select form-control" id="state"
                                onchange="setCities(event)" style="margin-top: 10px">
                                @foreach (var state in Model.StateList)
                                {
                                    <option value="@state.Id">@state.Name</option>
                                }
                            </select>
                            <br />
                            <select asp-for="SendInformation.CityId" class="custom-select form-control" id="city">
                                @foreach (var city in Model.CityList)
                                {
                                    <option stateId="@city.StateId" value="@city.Id">@city.Name</option>
                                }
                            </select>
                            <br />
                            <textarea required asp-for="SendInformation.Address" class="custom-textarea form-control"
                                placeholder="آدرس شما ..."></textarea>
                            <span asp-validation-for="SendInformation.Address" class="mt-5"
                                style="color: red; margin-top: 10px"></span>
                            <br />
                            <input id="edit-btn" class="btn btn-primary" disabled type="button" value="ویرایش اطلاعات"
                                onclick="editAddress()">
                        </div>
                    </div>


                </div>
                <div class="col-lg-4">

                    <div class="account-card mb-0">
                        <div class="account-title">
                            <h4>گزینه پرداخت</h4>

                        </div>
                        <div class="account-content">
                            <div class="row">
                                <input type="radio" id="sadad" checked="checked" name="Portal" width="100"
                                    value="sadad">
                                <div class="payment active">
                                    <img src="/img/payment/sadad.webp" alt="سداد" loading="lazy">
                                </div>
                            </div>
                            @* <div class="row">
                            <input type="radio" id="zarinpal" checked="checked" name="Portal" width="100"
                            value="zarinpal">
                            <div class="payment active">
                            <h3>زرین پال</h3>
                            </div>
                            </div> *@
                        </div>
                    </div>
                    <div class="account-card">
                        <div class="checkout-charge">
                            <div class="account-title">
                                <h4>خلاصه سفارش</h4>
                            </div>
                            <ul>
                                <li>
                                    <span>کل </span><span>@Model.SumPrice.ToString("N0")</span><span>تومان</span>
                                </li>
                            </ul>

                            <input type="text" name="discountCode" placeholder="کد تخفیف" class="form-control"
                                id="discountCode" />
                            <br />
                            <div class="row">
                                <button type="button" onclick="CalculateDiscount()" class="btn btn-inline col-md-6">
                                    اعمال کد تخفیف</button>
                                <button type="button" onclick="RemoveDiscount()" class="btn btn-warning col-md-6"> حذف
                                    تخفیف</button>
                            </div>

                            <ul>
                                <li>
                                    <span>با تخفیف </span><span
                                        id="sumPrice">@Model.SumPrice.ToString("N0")</span><span>تومان</span>
                                </li>
                            </ul>

                            <button type="submit" class="btn btn-inline col-md-12"> <i
                                    class="fal fa-credit-card"></i>ثبت سفارش</button>
                        </div>
                        <div class="chekout-coupon">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script>
        let selectedId;
        let sendInfoList = @Html.Raw(Json.Serialize(Model.SendInformationList));

        function checkFormValidity() {
            const [name, pCode, mobile, address] = ["SendInformation_RecipientName", "SendInformation_PostalCode", "SendInformation_Mobile", "SendInformation_Address"];
            const form = $(`#${name},#${pCode},#${mobile},#${address}`).toArray();
            const validity = form.map(v => ({ id: v.id, valid: v.validity.valid }));
            const messages = [];
            validity.forEach(v => {
                if (v.id === name && !v.valid) messages.push("- نام تحویل گیرنده نباید خالی باشد")
                if (v.id === mobile && !v.valid) messages.push("- شماره موبایل نباید خالی باشد و همچنین باید معتبر باشد")
                if (v.id === pCode && !v.valid) messages.push("- کد پستی نباید خالی باشد و باید عدد ۱۰ رقمی باشد")
                if (v.id === address && !v.valid) messages.push("- آدرس نباید خالی باشد")
            });
            return ({ isValid: validity.reduce((p, c) => p && c.valid, true), message: messages.join("\n") });
        }

        async function editAddress() {
            if (!selectedId) return;
            const validity = checkFormValidity();
            if (!validity.isValid) {
                swal(validity.message)
                return;
            }
            const res = await $.ajax("/Checkout?handler=editaddress", {
                type: "POST",
                data: $("#ch-form").serialize(),
                headers: { "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val() }
            });
            if (res.code === 0) {
                $(`#profile-card-${selectedId} h6`).text($("#myDIV input[name='SendInformation.RecipientName']").val());
                $(`#profile-card-${selectedId} p`).text($("#myDIV textarea").val());
                sendInfoList = res.data;
            }
            let message = res.message;
            if (message === "\r\n") {
                message = "خطا در ویرایش اطلاعات"
            }
            swal(message);
        }

        function fillAddress(id) {
            if (selectedId === id) {
                clearForm();
                $(`.profile-card`).removeClass("active");
                $("#edit-btn").attr("disabled", true);
                selectedId = undefined;
                return;
            }
            $("#edit-btn").removeAttr("disabled");
            $(`.profile-card`).removeClass("active");
            $(`#profile-card-${id}`).addClass("active");
            selectedId = id;

            var sendInformation = sendInfoList.find(obj => {
                return obj.id == id;
            });
            $("#SendInformation_Id").val(sendInformation.id);
            $("#SendInformation_UserId").val(sendInformation.userId);
            $("#SendInformation_RecipientName").val(sendInformation.recipientName);
            $("#SendInformation_Mobile").val(sendInformation.mobile);
            $("#SendInformation_PostalCode").val(sendInformation.postalCode);
            $("#SendInformation_Address").val(sendInformation.address);
            $("#state").val(sendInformation.stateId);
            setCities(event);
            $("#city").val(sendInformation.cityId);

        }

        function clearForm() {
            $("#SendInformation_Id").val(0);
            $("#SendInformation_UserId").val(0);
            $("#SendInformation_RecipientName").val("");
            $("#SendInformation_Mobile").val("");
            $("#SendInformation_PostalCode").val("");
            $("#SendInformation_Address").val("");
            $("#state").val(1);
            setCities(event);
        }

        $(document).ready(function () {
            setCities(event);
        });

        function CalculateDiscount() {
            $.ajax({
                type: "Get",
                url: "/Checkout?handler=Discount&discountCode=" + $("#discountCode").val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#sumPrice").html(new Intl.NumberFormat().format(response.sumPrice));
                    swal(response.description)
                },
                failure: function (response) {
                    swal(response);
                }

            });
        }

        function RemoveDiscount() {
            $.ajax({
                type: "Get",
                url: "/Checkout?handler=RemoveDiscount",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#sumPrice").html(new Intl.NumberFormat().format(response));
                    $("#discountCode").val('');
                }
            });
        }

        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
}